.smiley
{
	width: 19px;
	height: 19px;
	display: inline-block;
	border: none;
	background: url("img/smileys.jpg");
}

/* LINE ONE */

.smiley-1
{

	background-position: -10px -22px;
}

.smiley-2
{

	background-position: -39px -22px;
}

.smiley-3
{

	background-position: -68px -22px;
}

.smiley-4
{

	background-position: -97px -22px;
}

.smiley-5
{

	background-position: -126px -22px;
}

.smiley-6
{

	background-position: -155px -22px;
}

.smiley-7
{

	background-position: -184px -22px;
}

.smiley-8
{

	background-position: -213px -22px;
}

.smiley-9
{

	background-position: -242px -22px;
}

.smiley-10
{

	background-position: -271px -22px;
}

/*LINE TWO */

.smiley-11
{

	background-position: -10px -67px;
}

.smiley-12
{

	background-position: -39px -67px;
}

.smiley-13
{

	background-position: -68px -67px;
}

.smiley-14
{

	background-position: -97px -67px;
}

.smiley-15
{

	background-position: -126px -67px;
}

.smiley-16
{

	background-position: -155px -67px;
}

.smiley-17
{

	background-position: -184px -67px;
}

.smiley-18
{

	background-position: -213px -67px;
}

.smiley-19
{

	background-position: -242px -67px;
}

.smiley-20
{

	background-position: -271px -67px;
}

/*LINE THREE */

.smiley-21
{

	background-position: -10px -112px;
}

.smiley-22
{

	background-position: -39px -112px;
}

.smiley-23
{

	background-position: -68px -112px;
}

.smiley-24
{

	background-position: -97px -112px;
}

.smiley-25
{

	background-position: -126px -112px;
}

.smiley-26
{

	background-position: -155px -112px;
}

.smiley-27
{

	background-position: -184px -112px;
}

.smiley-28
{

	background-position: -213px -112px;
}

.smiley-29
{

	background-position: -242px -112px;
}

.smiley-30
{

	background-position: -271px -112px;
	width: 20px;
}

/*LINE FOUR */

.smiley-31
{

	background-position: -10px -158px;
}

.smiley-32
{

	background-position: -39px -158px;
}

.smiley-33
{

	background-position: -68px -158px;
}

.smiley-34
{

	background-position: -97px -158px;
}

.smiley-35
{

	background-position: -126px -158px;
}

.smiley-36
{

	background-position: -155px -158px;
}

.smiley-37
{

	background-position: -184px -158px;
}

.smiley-38
{

	background-position: -213px -158px;
}

.smiley-39
{

	background-position: -242px -158px;
}

.smiley-40
{

	background-position: -271px -158px;
}