#start-menu
{
	width: 100%;
	height: 30px;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}

#messenger-mini
{
	width: 150px;
	height: 25px;
	margin-top: 2px;
	position: absolute;
	left: 125px;
	background: #498cf5; /* Old browsers */
	background: -moz-linear-gradient(top,  #498cf5 0%, #3787ea 5%, #4377ef 17%, #387ffb 49%, #387ffb 80%, #3b81fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#498cf5), color-stop(5%,#3787ea), color-stop(17%,#4377ef), color-stop(49%,#387ffb), color-stop(80%,#387ffb), color-stop(100%,#3b81fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #498cf5 0%,#3787ea 5%,#4377ef 17%,#387ffb 49%,#387ffb 80%,#3b81fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #498cf5 0%,#3787ea 5%,#4377ef 17%,#387ffb 49%,#387ffb 80%,#3b81fa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #498cf5 0%,#3787ea 5%,#4377ef 17%,#387ffb 49%,#387ffb 80%,#3b81fa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #498cf5 0%,#3787ea 5%,#4377ef 17%,#387ffb 49%,#387ffb 80%,#3b81fa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498cf5', endColorstr='#3b81fa',GradientType=0 ); /* IE6-9 */
}

#messenger-mini:hover
{
	background: #75a8f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #75a8f4 0%, #5396e8 5%, #789ded 17%, #6da1f9 49%, #7aa9f9 80%, #75a6f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75a8f4), color-stop(5%,#5396e8), color-stop(17%,#789ded), color-stop(49%,#6da1f9), color-stop(80%,#7aa9f9), color-stop(100%,#75a6f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #75a8f4 0%,#5396e8 5%,#789ded 17%,#6da1f9 49%,#7aa9f9 80%,#75a6f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #75a8f4 0%,#5396e8 5%,#789ded 17%,#6da1f9 49%,#7aa9f9 80%,#75a6f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #75a8f4 0%,#5396e8 5%,#789ded 17%,#6da1f9 49%,#7aa9f9 80%,#75a6f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #75a8f4 0%,#5396e8 5%,#789ded 17%,#6da1f9 49%,#7aa9f9 80%,#75a6f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a8f4', endColorstr='#75a6f9',GradientType=0 ); /* IE6-9 */

}

#start-button
{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #72ba8a; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #72ba8a 0%, #4cac6c 5%, #3ea144 17%, #4bb14e 50%, #41aa41 77%, #5ea75e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#72ba8a), color-stop(5%,#4cac6c), color-stop(17%,#3ea144), color-stop(50%,#4bb14e), color-stop(77%,#41aa41), color-stop(100%,#5ea75e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #72ba8a 0%,#4cac6c 5%,#3ea144 17%,#4bb14e 50%,#41aa41 77%,#5ea75e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #72ba8a 0%,#4cac6c 5%,#3ea144 17%,#4bb14e 50%,#41aa41 77%,#5ea75e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #72ba8a 0%,#4cac6c 5%,#3ea144 17%,#4bb14e 50%,#41aa41 77%,#5ea75e 100%); /* IE10+ */
	background: linear-gradient(135deg,  #72ba8a 0%,#4cac6c 5%,#3ea144 17%,#4bb14e 50%,#41aa41 77%,#5ea75e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ba8a', endColorstr='#5ea75e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer; 
}

#start-tips
{
	background: rgba(255,255,255,0.6);
	width: 100px;
	height: 15px;
	font-size: 8pt;
	position: absolute;
	bottom: 30px;
	left: 0;
}

#start-tips p
{
	padding: 2px 0 0 8px;
	margin: 0 0 0 0;
}

#start-button img
{
	position: absolute;
	top: 1px;
	left: 1px;
	width: 90px;
}

#ie-short-small
{
	background: url("../img/ie.png");
	width: 16px;
	height: 19px;
	position: absolute;
	left: 105px;
	bottom: 5px;
}

.start-menu-link
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: absolute;
	top: 5px;
	left: 15px;
	font-family: arial;
	color: #FFFFFF;
	font-size: 10pt;
	cursor: pointer; 
}

#clock-holder
{
	width: 165px;
	height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	background: #219cff; /* Old browsers */
	background: -moz-linear-gradient(top,  #219cff 0%, #1db9f6 1%, #1b97df 2%, #1c8afb 28%, #0c94f7 51%, #0ca1f3 72%, #0d9ef1 97%, #0261bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#219cff), color-stop(1%,#1db9f6), color-stop(2%,#1b97df), color-stop(28%,#1c8afb), color-stop(51%,#0c94f7), color-stop(72%,#0ca1f3), color-stop(97%,#0d9ef1), color-stop(100%,#0261bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #219cff 0%,#1db9f6 1%,#1b97df 2%,#1c8afb 28%,#0c94f7 51%,#0ca1f3 72%,#0d9ef1 97%,#0261bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #219cff 0%,#1db9f6 1%,#1b97df 2%,#1c8afb 28%,#0c94f7 51%,#0ca1f3 72%,#0d9ef1 97%,#0261bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #219cff 0%,#1db9f6 1%,#1b97df 2%,#1c8afb 28%,#0c94f7 51%,#0ca1f3 72%,#0d9ef1 97%,#0261bd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #219cff 0%,#1db9f6 1%,#1b97df 2%,#1c8afb 28%,#0c94f7 51%,#0ca1f3 72%,#0d9ef1 97%,#0261bd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#219cff', endColorstr='#0261bd',GradientType=0 ); /* IE6-9 */
	border-left: 1px solid #002f8c;
}

.clock-time
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: #FFFFFF;
	position: absolute;
	right: 15px;
	bottom: 6px;
	font-family: arial;
	font-size: 10pt;
}

.clock-symbol
{
	height: 17px;
	width: 15px;
	background: url("../img/clock_symbols.png");
	position: absolute;
	bottom: 5px;
}

.clock-symbol-1
{
	background-position: -58px 0;
	right: 60px;
	cursor: pointer;
}

.clock-symbol-1-mute
{
	background-position: -73px 0;
	right: 56px;
	width: 19px;
	cursor: pointer;
}

.clock-symbol-2
{
	background-position: -42px 0;
	right: 80px;
}

.clock-symbol-3
{
	background-position: -29px 0;
	right: 102px;
	width: 13px;
}

.clock-symbol-4
{
	background-position: -15px 0;
	right: 120px;
}

.clock-symbol-5
{
	background-position: 0px 0;
	right: 140px;
}